@import "../../styles/colors";

.MenuLateral {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  // atributos responsável pela "logo SLACA"
  [class~="slaca-container"] {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);

    [class~="title"] {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 55px;
      letter-spacing: 0em;
      text-align: center;
      color: white;
    }
  }

  [class~="image-container"] {
    width: 100%;
    height: 258px;
    background-image: url("../../public/images/slaca.png");
  }

  // atributos responsável pela área de navegação da página incluindo animações de seleção
  [class~="navegation-container"] {
    width: 100%;

    [class~="navegation"] {
      width: 100%;
      list-style: none;

      [class~="item"] {
        width: 100%;
        height: 33px;
        padding: 0px 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 2px solid #e7e7e7;
        font-family: "Quicksand", sans-serif;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &[class~="selected"] {
          background-color: #fdf1eb;
          border-left: 5px solid #ed7839;
        }

        [class~="link"] {
          text-decoration: none;
          color: #725c5c;
        }
      }
    }
  }
}
